<h1>Save any kind of movies</h1>

<ol>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
</ol>


<%= link_to "Créer une nouvelle liste de film",  new_list_path %>
